header {
    padding: 2rem $gutter;
    h1 {font-size: 2rem;}
}
#theButton {
  display: none;
}
#theNav {
  grid-template-rows: 1fr;
}
#theNav ul, #theNav ul.open {
  display: flex;
  li a {
    padding: .4rem 1rem;
    border: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
#navWrapper {
  border-bottom: 1px solid grey;
}