/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
}

#headerWrapper {border-bottom: 1px solid black;}
header {
    display: flex;
    align-items: center; 
    padding: 1rem $gutter;
    gap: 8px;
    span {
        font-size: 2rem;
        font-weight: $boldWeight;
        color: grey;
    }
    h3 {
      margin-left: 10%;
      color: grey;
      a {
        text-decoration: none;
      }
    }
} // end header
// h1 {
//   margin-left: 20px;
// }


#theButton::before {
  content: "\2630";
}
#theButton {
  border:none;
  background: none;
  font-size: 2rem;
  padding: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right:0;
  cursor: pointer;
}
#theNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
li a {
  color: black;
  display: block;
  padding: .75rem $gutter;
  text-decoration: none;
  border-bottom: 1px solid grey;
}
li.active a {
  color: whitesmoke;
}
}// end of unordered

#theButton.open::before {
  content: "\2715";
}

#theNav {
  background-color: grey;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
  ul {
    overflow: hidden;
  }
}
#theNav.open {
  grid-template-rows: 1fr;
}

.parentHero {
    border: grey solid 1px;
    position: relative;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  p {
    margin: 0;
    background: linear-gradient(90deg,rgba(230, 225, 225, 0.13) 0%, rgba(244, 244, 244, 0.3) 46%, rgba(232, 232, 232, 0.31) 100%);
    padding: 1rem;
    position: absolute;
    top: calc(50% - 35px);
    text-align: center;
    width: 80%;
    left: 10%;
    font-size: 2rem;
    font-weight: bold;
  }
}

h1 {
  margin: 1;
  padding: 1rem;
}

div.cards {
  margin-bottom: 1rem;
  padding: 0 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
  gap: 24px 8px;

  section {
    border-radius: 1rem;
    border: 2px solid black;
    padding: 1rem;
    text-align: center;
  }
  section img {
    width: 50px;
    position: relative;
  }
}
.bounce:hover img {animation: myBounce 1s 1;}
.bounce:hover img {animation: myBounce 1s 1;}
.spin:hover img {animation: mySpin 1s 1;}
.pulse:hover img {animation: myPulse 1s 1;}

  //  bounce animation

  @keyframes myBounce {
    0% {bttom:0px; animation-timing-function: ease-out;}
    25% {bttom:15px; animation-timing-function: ease-in;}
    50% {bttom:0px; animation-timing-function: ease-out;}
    75% {bttom:7px; animation-timing-function: ease-in;}
    100% {bttom:0px; animation-timing-function: ease-out;}

  } // end of bounce

   @keyframes mySpin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
 } // end of spin

 @keyframes myPulse {
    0% {transform: scale(1.0);}
    25% {transform: scale(1.5);}
    50% {transform: scale(.75);}
    75% {transform: scale(1.25);}
    100% {transform: scale(1.0);}
 } // end of pulse



button {
  border-radius: 1rem;
  padding: .5rem;
  background-color: grey;
  color: white;
}
div.reviewWrapper {
  background-color: #f7f7f7;
  padding: 2rem 0;
  text-align: center;
  #cards {
    text-align: center;
    h3 {
      margin: 2rem 16px 0 16px;
      text-align: center;
      color: #000;
      font-weight: bold;
    }
  }
}
h2 {
  color: grey;
}


// begin the footer
#footerWrapper {
    background-color: rgb(122, 116, 116);
}
footer {
    padding: 0.5rem $gutter;
    p {
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
    }

  }